[Desktop Entry]
Name=ace
Encoding=UTF-8
Exec=sh -c "ace;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-14-telephony-analysis;01-15-voip-analysis;07-01-02-voip-tools;
